@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body,
	main {
		@apply h-screen w-full overflow-hidden;
	}
}

@layer base {
	.center {
		@apply flex items-center justify-center;
	}
}
